.footer {
  @apply flex justify-between items-center h-[var(--footer-height)];
  padding-inline: $footer-padding-x;
}

.socials {
  .socials-list {
    @apply flex gap-4;
  }
  
  .socials-item {
    @include transition;
    width: 56px;
    height: 56px;
    border-radius: 100px;
    border: 1px solid rgba( $primary02-color, 0.2);
    
    img {
      color: $primary02-color;
    }

    &:hover{
      background: rgba($primary02-color, 0.2);
      border: 1px solid transparent;
    }
  }
  
  .socials-link {
    @apply flex items-center justify-center w-full h-full;
  }
}