@mixin transition($property: all, $duration: 0.3s, $ease: ease) {
  transition: $property $duration $ease;
}

@mixin flex-center(){
  display: flex;
  justify-content: center;
  align-items: center;
}